* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
  color: rgba(43, 43, 94, 0.815);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,

    #ecebf354,
    #23d5ab93,
    #23d53b93
  );
  background-size: 400% 400%;
  animation: color 12s ease-in-out infinite;
 overflow-x: hidden;
  

}
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
  



